h2, h3 {
    margin: 2rem 4rem;
}

.tooltip-text {
    visibility:hidden;
}

.remove:hover>.tooltip-text {
    visibility: visible;
}

.search-div {
    margin: 1rem;
}

.buttons-container {
    margin: 0 4rem;
}

.buttons-container>h3 {
    margin: 1rem 0;
}
