form {
    margin: 0.7rem;
}

input, label, button {
    font-size: 110%;
}

label {
    margin: 0.5rem;
}
input {
    padding: 0.5rem 0rem;
}

button {
    margin: 0.5rem 0.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(59, 59, 59);
    color: white;
}
